@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var product in Model.Products)
{
    Html.RenderPartial("ProductSummary", product);
    @*@Html.Partial("ProductSummary", product)*@
    
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { category = Model.CurrentCategory, page = x }))
</div>
